:root {
    --navbar-color: #C4C4C4;
    --introduction-panel-color: #A1D0FF;
    --info-panel-color: #7C95D6;
    --default-text-color: #444;
    --text-color-2: #315D44;
    --button-hovercolor: #E5E5E5;
    --background-color: #fbeaed;
}

/* Default Values +++ */
html, body {
    padding: 0;
    background-image: url("../../images/contact_page_backgroud_image.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Nunito", sans-serif;
}
body:not(.navbar) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 5%;
}
h1 {
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--text-color-2);
    text-align: center;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    color: var(--default-text-color)
}

h3 {
    padding: 0;
    margin: 0;
    font-family: "Google Sans", sans-serif;
    font-style: normal;
    color: var(--default-text-color)
}

a {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
    color: var(--default-text-color)
}

p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-family: "Google Sans", sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    color: var(--default-text-color)
}
/* Default Values --- */

/* Webpage Styling +++ */

div.introduction_panel {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1000px;
    max-height: 400px;
    width: 30%;
    height: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    gap: 1em;
    /*background-color: rgb(255 0 1 / 0.61)*/

}
div.introduction_panel h1 {
    font-size: 10cqw;
    font-weight: 540;
    font-family: "Fredoka", sans-serif;
}
div.introduction_panel strong {
    font-size: 5cqw;
    font-family: "Fredoka", sans-serif;
    
}

div.introduction_panel .title_sub_panel {
    display: flex;
    gap: 20px;
}

div.introduction_panel .title_sub_panel #first_whisker {
    height: 50%;
    width: 10%;
    max-width: 80px;
    max-height: 100px;
}

div.introduction_panel .title_sub_panel #second_whisker {
    height: 50%;
    width: 10%;
    max-width: 80px;
    max-height: 100px;
}

div.introduction_panel p {
    font-family: "Comfortaa", sans-serif;
}

/*div.introduction_panel [name="heart_icon"] {*/
/*    */
/*}*/
div.instruction_panel{
    border-radius: 65px;
    padding: 0;
    height: 30vh;
    width: 80vw;
    max-height: 350px;
    max-width: 855px;
    min-height: max-content;
    min-width: max-content;
    padding-bottom: 1%;
    
    background-color: #f1ebdf;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
}

div.bottom_row strong {
    font-weight: 800;
}

div.top_row {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 2.5cqw;
    

}
div.top_row h2 {
    font-family: "Fredoka", sans-serif;
}
div.numbering {
    display: flex;
    justify-content: center;
}
div.numbering img {
    width: 70%;
    height: auto;
    margin-bottom: 2%
}
div.bottom_row {
    display: flex;
    align-content: center;
    padding-left: 13%;
    gap: 18%;
}
div.bottom_row #step_1 {
    height: 5%;
    width: 15%;
    font-size: 2cqw;
    
}

div.bottom_row #step_1 p, strong {
    font-family: "Fredoka", sans-serif;
}

div.bottom_row #step_2 {
    height: 5%;
    width: 20%;
    font-size: 2cqw;
    transform: translateX(17%);
}

div.bottom_row #step_2 p, strong {
    font-family: "Fredoka", sans-serif;
}

div.bottom_row #step_3 {
    height: 5%;
    width: 20%;
    font-size: 2cqw;
}

div.bottom_row #step_3 p, strong {
    font-family: "Fredoka", sans-serif;
}
div.instruction_panel p {
    margin: 0;
    padding: 0;
}

/* TODO: * */

div.services_panel {
    background-color: #feefe6;
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 1.5rem;
    border-radius: 25px;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

div.services_panel .services_title h2 {
    font-family: "Fredoka", sans-serif;
}

div.services {
    display: flex;
    flex-direction: column;
}

#container_51 {
    display: flex;
    gap: 5%;
}
div.footer_panel {
    border-radius: 45px;
    display: grid;
    place-items: center;
    background-color: #fee9e6;
    padding-bottom: 2%;
}
div.footer_panel h2, p {
    font-family: "Fredoka", sans-serif;
}
div.footer_panel #footer_h2 {
    margin-top: 5%;
    font-size: 23px;
    margin-left: 3%;
    margin-right: 3%;
}

div.footer_panel #footer_p {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 100%;
}
/*div.footer_panel #footer_p {*/
/*    padding:*/
/*}*/
/* Webpage Styling --- */